{{- $name:= promptString "Name" -}}
{{- $email := promptString "email" -}}
{{- $username:= promptString "username" -}}
[git]
    autoCommit = true
    autoPush = true

[data]
    name  = "{{ $name}}"
    email = "{{ $email }}"
    username= "{{ $username}}"

[diff]
  pager = "delta"
