# Local/private config goes in the include
[include]
  path = ~/.gitconfig.local

[core]
  editor = nvim
  autocrlf = input
  pager = delta
	excludesfile = /Users/{{ .username }}/.gitignore

[interactive]
  diffFilter = delta --color-only --features=interactive

[delta]
  features = decorations
  navigate = true
  side-by-side = true
  line-numbers = true

[merge]
  conflictStyle = diff3

[diff]
  colorMoved = default

[push]
  default = simple
  autoSetupRemote = true

[commit]
	gpgsign = true
